<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Set this to DEBUG to see WAY TOO MUCH LOGGING in the log -->
  <logger level="WARN" name="slick" />

  <!-- Set this to DEBUG to see SQL statements in the log -->
  <logger level="DEBUG" name="slick.jdbc.JdbcBackend.statement" />

  <!-- Set this to DEBUG to see parameters to SQL statements in the log -->
  <logger level="DEBUG" name="slick.jdbc.JdbcBackend.parameter" />

  <!-- Set this to DEBUG to see query results in the log -->
  <logger level="WARN" name="slick.jdbc.StatementInvoker.result" />

  <!-- Set this to DEBUG to see query timings in the log -->
  <logger level="WARN" name="slick.jdbc.JdbcBackend.benchmark" />

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
